<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/add-customer-style.css">
<title>Inserisci Libri</title>
</head>
<body>
	<div align="center" class="newObj">
	<h1>Crea Libri</h1>
	<form action="#" th:action="@{/saveLib}" th:object="${libro}" method="post">
	<table border="0" cellpadding=10>
	<tr> 
	<td> Autore:</td>
	<td><input type="text" th:field="*{autore}" /> <td> <br>
	<td> Titolo </td>
		<td><input type="text" th:field="*{titolo}" /> <td> <br>
	<td> Genere </td>
		<td><input type="text" th:field="*{genere}" /> <td> <br>
	<td> Prezzo </td>
		<td><input type="text" th:field="*{prezzo}" /> <td> <br>
		
	
	
	<tr><td colspan="2"><button type="submit" value="clicca qui"/>SALVA</td> 
	</table>
	
	
	
	</form>
	
	</div>